@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #ffffff;
  --secondary-color: #ff34c2;
  --text-dark: #008055;
  --text-light: #000000;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter";
  /* background-image: url("logos/Background\ for\ web.jpg");
  background-size: cover;
  background-attachment: fixed; */
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 78px;
  /* z-index: 99; */
  background-color: #ffffff;
  color: black;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 nav .logo  {
  border-radius: 50px;
  align-items: center;
  width: 100px;
  height: 100%;
}
/* nav .logo a:hover {
  color: var(--primary-color-dark);
}  */

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}
 
ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
  font-size: 18px;
}

ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

ul li a:hover {
  color: var(--secondary-color);
}

 

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 24px;
  color: #0A6647;
}

.title {
  font-size: 2.5rem;
   font-weight: 400; 
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-size: 84px;
  font-family: "Bebas Neue", sans-serif;
}

.title1{
  font-size: 2rem;
   font-weight: 600; 
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  text-align: left;
  padding-right: 8rem;
  padding-left: 2.5rem;
}

.description {
  line-height: 2rem;
  color:#011911;;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family:"Inter" ;
  font-weight: 300;
  text-align: left;
  padding-right: 8rem;
  padding-left: 6rem;
}
.description2H{
  line-height: 2rem;
  color:#011911;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family:"Inter" ;
  font-weight: 600;
  text-align: left;
  padding-right: 8rem;
  padding-left: 6rem;
}
.description2 {
  line-height: 2rem;
  color:#008055;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family:"Inter" ;
  font-weight: 300;
  text-align: left;
  padding-right: 8rem;
  padding-left: 6rem;
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #008055;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }


  .action__btns {
    margin: auto;
  }
 

}  
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

.text-center{
  padding: 0.5rem 0.5rem ;
}



.rounded{
  width:100%;
  height:auto;
}

.divider{
  width: 50rem;
  text-align: center;
  margin: auto;
}

#header-image-menu img{
	width: 100%;
	margin: none;
	padding: none;
}

#header-image-menu{
	position: relative;
}
.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color:#008055 ;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-1:disabled {
  cursor: default;
}
.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
  vertical-align: middle;
}
.btn-1 [hidden] {
  display: none;
}
.btn-1 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
}
.btn-1:hover {
  color: #999;
}
.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}
